version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: -4G25SpX)o # Cambia esto por una contrase침a segura
      MYSQL_DATABASE: jyrautos_wpjyrprd      # Nombre de la base de datos que se crear치
      MYSQL_USER: jyrautos_wpjyrprd                # Nombre de usuario que se crear치
      MYSQL_PASSWORD: -4G25SpX)o   # Contrase침a para el usuario
    ports:
      - "3306:3306"                    # Mapea el puerto 3306 al host
    volumes:
      - mysql_data:/var/lib/mysql      # Volumen para persistencia de datos
    networks:
      - mysql_network

volumes:
  mysql_data:

networks:
  mysql_network:
    driver: bridge
